/* class="bg-root relative font-sans text-slate-12 antialiased selection:bg-[#00cc9937] selection:text-[#007763fd] dark:selection:bg-[#00fff61d] dark:selection:text-[#67ffded2]" */

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.bodywrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 500;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
}
@media not all and (min-width: 768px) {
  .wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.stroke {
  position: relative;
}

.stroke::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, #202020 0%, #2e2e2e 50.5%, #202020 100%);
}

.profile-stroke {
  position: relative;
}

.profile-stroke::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #3c3c3c;
}

.nav-subtitle {
  font-weight: 600;
  font-size: 13px;
  line-height: 185%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.51);
}

/* SEARCH INPUT */

.searchinput {
  border: 1px solid #3c3c3c;
  border-radius: 8px;
  padding: 7px 42px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  background: #262626;
}

.close svg {
  transition: all 0.3s;
}

.close:hover svg {
  stroke: #fff;
}

.searchsvg svg {
  transition: all 0.3s;
}
.searchsvg:hover svg {
  stroke: #fff;
}

/* HEADER */

.flag {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  background-image: url("https://cdn.britannica.com/33/4833-004-828A9A84/Flag-United-States-of-America.jpg");
  background-size: cover;
}

/* HERO */

.hero-blur {
  border-radius: 59px 0 0 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: url("/hero-slider/blur.png");
  backdrop-filter: blur(50px);
}

/* MAIN  */

.mainitem:hover .scaleitem {
  transform: scale(1);
  opacity: 50%;
}
.arrowupright {
  transform: rotate(45deg);
}
.mainitem:hover .arrowupright {
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
}
