input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.overflow-hidden {
  overflow: hidden !important;
}

.bodywrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 500;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
}
@media not all and (min-width: 768px) {
  .wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.stroke {
  position: relative;
}

.stroke::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #2b2b2b;
}

.profile-stroke {
  position: relative;
}

.profile-stroke::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #3c3c3c;
}

.nav-subtitle {
  font-weight: 600;
  font-size: 13px;
  line-height: 185%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.51);
}

/* HEADER */

.flag {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  background-image: url("https://cdn.britannica.com/33/4833-004-828A9A84/Flag-United-States-of-America.jpg");
  background-size: cover;
}

/* HERO */

.hero-blur {
  border-radius: 59px 0 0 0;
  background: url("/hero-slider/blur.png");
  backdrop-filter: blur(50px);
}

@keyframes fillAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-fill {
  animation: fillAnimation 5s linear;
}

/* MAIN  */

.mainitem:hover .scaleitem {
  transform: scale(1);
  opacity: 50%;
}
.arrowupright {
  transform: rotate(45deg);
}
.mainitem:hover .arrowupright {
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
}

/* search input */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a5a;
}
